:root {
    /* color */
    --color-white: #fff;
    --color-violet: #5b2386;
    --color-yellow: #f5df4d;
    --btn-color: #fcee21;
    --input-color: #babcbe;
    /* font size */
    --btn-pc-size: 24px;
    --btn-mobile-size: 14px;
}

.sr-only {
    /* 스크린 리더기에만 읽히게 설정 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
}

html {
    font-size: 10px;
}

body {
    font-family: "GmarketSansMedium";
    text-align: center;
    margin: 12rem auto 10.6rem;
    max-width: calc(100% - 3rem);
    color: var(--color-white);
    background-color: var(--color-violet);
}

/* blocks */

.title {
    position: relative;
    height: 265px;
    background: url("../images/clock.png") no-repeat center; /* 꾸밈을 위한 이미지 */
    background-size: 221.6px 225px;
}

.q-dfn {
    margin: 5.2rem 0 10rem;
}

.input-form {
    margin-bottom: 14.2rem;
}

.form {
    font-size: var(--btn-pc-size);
}

.button {
    font-family: "GmarketSansBold";
    height: 64px;
    padding: 0 5rem 0;
    font-size: var(--btn-pc-size);
    color: var(--color-violet);
    background-color: var(--btn-color);
    border-radius: 12px;
    box-shadow: 2px 4px 10px 0px #00000026;
}

.dialog {
    display: none;
    position: relative;
    top: -600px;
    font-family: "OTEnjoystoriesBA";
    width: 800px;
    height: 816px;
    padding: 8rem 0;
    color: var(--color-violet);
    background-color: var(--color-white);
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 30px 0px #00000026;
}

/* element */

.title__text-img {
    position: absolute;
    height: 112px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정중앙에 위치 */
}

.q-dfn__q {
    font-family: "OTEnjoystoriesBA";
    font-size: 3.6rem;
    color: var(--color-yellow);
}

.q-dfn__dfn {
    width: 485px;
    margin: 8rem auto 0;
    font-size: 1.8rem;
    background: url("../images/quotes.png") no-repeat center / contain; /* 꾸밈을 위한 이미지 */
    line-height: 2.8rem;
}

.form__expert,
.form__button {
    display: block; /* 줄바꿈 */
}

.form__input {
    font-family: "GmarketSansMedium";
    font-size: var(--btn-pc-size);
    text-align: center;
    width: 228px;
    height: 56px;
    padding: 1.6rem 0;
    margin: 0 2rem;
    border-radius: 8px;
    border: none;
    color: var(--input-color);
}

.form__input::placeholder {
    color: var(--input-color);
}

.form__button {
    position: relative;
    height: 86px;
    margin-top: 12rem;
}

.result__text {
    font-size: 2.4rem;
}

.result__training-and-share {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin: 12rem auto;
}

.footer__logo {
    margin-bottom: 2rem;
}

.footer__copyright {
    font-family: "Noto Sans KR";
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.dialog__title {
    font-size: 9.6rem;
    margin-bottom: 1.4rem;
}

.dialog__content {
    font-size: 3.6rem;
}

.dialog__licat {
    width: 438px;
    height: 342px;
    margin: 4rem 0 6rem;
}

/* modifier */

.q-dfn__dfn--dfn {
    font-family: "GmarketSansBold";
    font-size: 2.4rem;
}

.line-height--margin-20 {
    margin-bottom: 2rem;
}

.form__button--size {
    position: absolute;
    width: 567px;
    top: 32px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__button-img--size {
    position: absolute;
    width: 64px;
    height: 72px;
    bottom: 0;
    left: calc(50% + 283.5px);
    margin-left: 7px;
}

.result__text--strong {
    font-family: "GmarketSansBold";
    font-size: 7.2rem;
    vertical-align: -20%;
    margin: 0 1.2rem;
}

.button__training--size {
    width: 365px;
}

.button__share--size {
    width: 193px;
}

.button__white {
    background-color: var(--color-white);
}

.button__close--size {
    width: 508px;
    padding: 0 4.8rem 0 5rem;
}
